In [2]:
# Mahipalsing Hypothesis Assignment

In [19]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [4]:
# Load data set
buyer_ratio = pd.read_csv("/Users/mayur/Desktop/Excelr Solution/Assignment-3(Hypothesis)/BuyerRatio.csv")

In [5]:
buyer_ratio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [6]:
#Assume Null Hypothesis as Ho: Independence of categorical variables (male-female buyer rations are similar across regions (does not vary and are not related) Thus Alternate Hypothesis as Ha: Dependence of categorical variables (male-female buyer rations are NOT similar across regions (does vary and somewhat/significantly related)

In [14]:
obs = buyer_ratio.iloc[:,1:]

In [15]:
obs

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [16]:
obs = obs.values

In [17]:
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [18]:
chi2_contingency(obs)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [24]:
# Compare p_value with α = 0.05

In [26]:
pValue = 0.66030

In [27]:
if pValue <0.05:
  print('All proportions are equal')
else:
  print('Not all proportions are equal')

Not all proportions are equal

In [ ]:
#Inference: As (p-value = 0.6603) > (α = 0.05); Accept the Null Hypothesis i.e. Independence of categorical variables Thus, male-female buyer rations are similar across regions and are not related